Adafruit-Blinka==4.7.0
adafruit-circuitpython-busdevice==4.3.1
Adafruit-PlatformDetect==2.8.0
Adafruit-PureIO==1.1.5
pyftdi==0.51.0
pyserial==3.4
pyusb==1.0.2
sysv-ipc==1.0.1
certifi==2023.7.22
chardet==3.0.4
idna==2.9
influxdb==5.3.0
msgpack==0.6.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.31.0
six==1.14.0
urllib3==1.26.5
setproctitle==1.1.10
